/* 
.nav-item {
  line-height: 25px;
  text-align: left;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  background: #ff5040;
} */